body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.human-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#human-img {
    max-width: 50%; /* Adjust size as needed */
    max-height: 50%; /* Adjust size as needed */
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Space between image and dots */
}

.dot {
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    margin: 0 5px; /* Space between dots */
}
